body {
    margin: 0;
    font-family: 'Brush Script MT', Cursive; /* Use the Roboto font */
}


.container {
    display: flex;
}

.sidebar {
    height: 690px;
    width: 240px;
    background-color: #688cee;
    color: #fff;
    padding: 20px;
}


.sidebar .profile-image {
    margin-top: 60px;
    text-align: center;
}

.sidebar .profile-image img {
    border-radius: 50%; /* Make the image circular */
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio */
    border: 5px solid #bfc7e0; /* Blue border color with 5px width */
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar li {
    margin-bottom: 10px;
    margin-left: 90px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    flex: 1;
    padding: 20px;
}
